<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<title>Endereco</title>
<meta name="author" content="Paulino Rodrigues">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link rel="stylesheet" href="/css/vendors/easy-autocomplete.min.css">
<!-- <link rel="stylesheet" href="/css/vendors//easy-autocomplete.themes.css"> -->
<link rel="stylesheet" href="/css/sindebar.css" />
<link rel="stylesheet" href="/css/controller.css" />
<link rel="stylesheet" href="/css/magalu.css" />
</head>



<body id="body-pd">

	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div th:replace="fragmentos/fragmentos :: sindebar"></div>

	<form method="post" th:action="@{/endereco/novo}"
		th:object="${endereco}">


		<input type="hidden" th:field="*{codigo}">

		<th:block th:replace="fragmentos/mensagemSucesso"></th:block>
		<th:block th:replace="fragmentos/mensagensErrosValidacao"></th:block>

		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class=" col-md-10">
						<h4>Endereçando produto</h4>

					</div>
					<div class="col-md-2">
						<a th:href="@{/endereco}" class="btn btn-primary btn-sm">Pesquisar</a>
					</div>
				</div>
			</div>
			<div th:replace="fragmentos/fragmentos :: magalu"></div>
			<div class="card-body">

				<div class="row mb-3">
				<div class=" col-md-auto">
						<label class=" col-form-label-sm">Endereço:</label> <input
							class="form-control form-control-sm js-maskEndereco" type="text"
							th:field="*{nomeEndereco}" placeholder="00.000.000.000" />
					</div>

<!-- 					<div class="col-md-3"> -->
<!-- 						<label for="endereco_nome" class="col-form-label-sm">Endereços:</label> -->
<!-- 						<select id="endereco_nome" -->
<!-- 							class=" form-control form-select form-select-sm" -->
<!-- 							th:field="*{nomeEndereco}"> -->
<!-- 							<option value="">Selecione</option> -->
<!-- 							<option class="form-control" th:each="enderecos : ${enderecos}" -->
<!-- 								th:value="${enderecos.nomeEndereco}" -->
<!-- 								th:text="${enderecos.nomeEndereco}">a</option> -->
<!-- 						</select> -->
<!-- 					</div> -->

					<div class="col-md-3">
						<label for="endereco_produto" class="col-form-label-sm">Produtos:</label>
						<select id="endereco_produto"
							class=" form-control form-select form-select-sm"
							th:field="*{produto}">
							<option value="">Selecione</option>
							<option class="form-control" th:each="produto : ${produto}"
								th:value="${produto.codigo}" th:text="${produto.nome}">a</option>
						</select>
					</div>

					<!-- 					<div class=" col-md-5"> -->
					<!-- 						<label for="produto" class=" col-form-label-sm">Produto:</label> <input -->
					<!-- 							type="text" -->
					<!-- 							class="js-produto-input form-control form-control-sm " -->
					<!-- 							id="produto" data:url="@{/produto}"  th:field="*{produto}" th:value="${endereco.produto}" /> -->
					<!-- 					</div> -->
					<!-- 				</div> -->

					<div class="col-md-auto">
						<label class="col-form-label-sm">Quantidade:</label> <input
							class="form-control form-control-sm " th:field="*{quantidade}">

					</div>
				</div>

				<p>
			</div>
			<div class="row mb-3">
				<!-- 					Botões -->

				<div class="form-row">
					<a type="button" th:href="@{/endereco}"
						class="btn btn-danger offset-md-10">Cancelar</a> &nbsp;
					<button type="submit" class="btn btn-success offset">
						Salvar</button>
				</div>
			</div>
		</div>
	</form>

	<th:block th:replace="hbs/TemplateAutocompleteProduto"></th:block>


	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/vendors/handlebars.min.js"></script>
	<script src="/js/vendors/jquery.easy-autocomplete.min.js"></script>
	<script src="/js/vendors/jquery.mask.js"></script>
	<script src="/js/sindebar.js"></script>
	<script src="/js/endereco.autocomplete-itens.js"></script>
	<script src="/js/mascarasEndereco.js"></script>



</body>
</html>