<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<title>Pedido</title>
<meta name="author" content="Paulino Rodrigues">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link rel="stylesheet" href="/css/sindebar.css" />
<link rel="stylesheet" href="/css/controller.css" />

<link rel="stylesheet" href="/css/brewer.css" />
</head>
<body id="body-pd">

	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div th:replace="fragmentos/fragmentos :: sindebar"></div>


	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class=" col-md-10">
					<h4>Pesquisa Pedido</h4>
				</div>
				<div class="col-md-2">
					<a class="btn btn-primary btn-sm" th:href="@{/pedido/novo}">Novo
						Pedido</a>
				</div>
			</div>
		</div>
		<div class="card-body">

			<form action="" method="get" th:object="${pedidoFilter}">

				<div class="row mb-3">

					<!-- 				Codigo -->
					<div class=" col-md-1">
						<label class=" col-form-label-sm">Codigo:</label> <input
							class="form-control form-control-sm" type="text"
							th:field="*{codigo}">
					</div>

					<!-- 				Status -->
					<div class="col-auto">
						<label for="turno" class="col-form-label-sm">Status:</label> <select
							id="turno" class=" form-control form-select form-select-sm"
							th:field="*{status}">

							<option value="">Selecione o Status</option>
							<option class="form-control" th:each="status : ${status}"
								th:value="${status}" th:text="${status.descricao}">a</option>
						</select>
					</div>

					<!-- 				Turno -->
					<div class="col-auto">
						<label for="turno" class="col-form-label-sm">Turno:</label> <select
							id="turno" class=" form-control form-select form-select-sm"
							th:field="*{turno}">

							<option value="">Selecione seu turno</option>
							<option class="form-control" th:each="turno : ${turno}"
								th:value="${turno}" th:text="${turno.descricao}">a</option>
						</select>
					</div>

					<!-- 					Data Criação -->
					<div class="col-auto">
						<label for="dataCriacao" class="col-form-label-sm">Data de
							criação:</label> <input class="form-control form-control-sm" type="text" th:field="*{dataInicio}"/>
						&nbsp;&nbsp;
					</div>

					<div class="col-auto">
						<label for="dataFim" class="col-form-label-sm">Até:</label> <input
							class="form-control form-control-sm" type="date" th:field="*{dataFim}"/> &nbsp;&nbsp;
					</div>

				</div>

				<div class="row mb-3">

					<!-- 					Colaborador -->
					<div class="col-md-4">
						<label for="secao" class="col-form-label-sm">Colaborador:</label>
						<input class="form-control form-control-sm" type="text"
							th:field="*{nomeColaborador}" />
					</div>

					<!-- Identificação -->
					<div class="col-md-4">
						<label for="secao" class="col-form-label-sm">Identificação:</label>
						<input class="form-control form-control-sm" type="text"
							th:field="*{cpfCnpjId}" />
					</div>
				</div>


				<div class="form-row">
					<button type="submit" class="btn btn-primary btn-sm">Pesquisar</button>
					<a type="submit" class="btn btn-outline-warning btn-sm"
						th:href="@{/pedido/}">Limpar filtro</a>
				</div>
			</form>
		</div>
	</div>

	</form>
	<div class="table-responsive">
		<table class="table table-bordered table-houver  table-sm"
			style="text-align: center">
			<thead class="thead-dark" style="text-align: center">

				<th class="col-1"><th:block
						th:replace="fragmentos/ordenacao :: order (${pagina}, 'codigo' , 'Codigo')"></th:block>

				</th>
				<!-- 					<th class="col-2"><th:block -->
				<!-- 							th:replace="fragmentos/ordenacao :: order (${pagina}, 'status' , 'Status')"></th:block> -->
				<!-- 					</th> -->

				<th class="col-auto">Data</th>
				<th class="col-auto">Colaborador</th>
				<th class="col-auto">Turno</th>
				<th class="col-auto">Ação</th>


			</thead>

			<tbody>
				<tr th:each="pedido :${pagina.conteudo}">
					<td th:text="${pedido.codigo}">12</td>
					<!-- 						<td th:text="${pedido.status}">Produto Teste</td> -->
					<td th:text="${pedido.dataCriacao}">Limpeza</td>
					<td th:text="${pedido.colaborador.nome}">Limpeza</td>
					<td th:text="${pedido.turno}">4</td>
					<td><a title="Editar"
						th:href="@{/pedido/{codigo}(codigo=${pedido.codigo})}"><i
							class=" bx bx-edit ce-icon"></i> </a> &nbsp;&nbsp; <a
						class=" js-exclusao-btn" title="Excluir" href="#"
						data:url="@{/pedido/{codigo}(codigo=${pedido.codigo})}"
						> <i class="bx bx-trash ce-icon"></i>
					</a>&nbsp;&nbsp;<a><i class="bx bx-error-circle ce-icon"></i></a></td>
				</tr>
				<tr th:if="${pagina.vazia}">
					<td colspan="7">Nenhum registro encontrado</td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="col-sm-12 text-center" th:if="${not pagina.vazia}">
		<nav>
			<ul class="pagination  pagination-sm"
				th:with="paginaAtual=${pagina.atual}">

				<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}"
					th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active"><a
						class="page-link" th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a></li>

				</th:block>


			</ul>
		</nav>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="/js/vendors/handlebars.min.js"></script>
	<script src="/js/vendors/jquery.easy-autocomplete.min.js"></script>
	<script src="/js/sindebar.js"></script>
	<script src="/js/colaborador.pesquisa-rapida.js"></script>
	<script src="/js/pedido.autocomplete-itens.js"></script>
	<script src="/js/pedido.tabela-itens.js"></script>

</body>
</html>