<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<title>Dashboard</title>
<meta name="author" content="Paulino Rodrigues">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link rel="stylesheet" href="/css/sindebar.css" />
<!-- <link rel="stylesheet" href="/css/brewerCss.css" /> -->

</head>

<body id="body-pd">

	<header class="header" id="header" th:fragment=header>
		<div class="header_toggle">
			<i class='bx bx-menu' id="header-toggle"></i>
		</div>
		
		<div>
		Sistema de Gerenciamento de Estoque CD-994
		</div>
		<div class="header_img">
			<img src="/img/user.png" alt="">
		</div>
	</header>
	
	<div class="l-navbar" id="nav-bar" th:fragment=sindebar>
		<nav class="nav">
			<div>
				<a class="nav_logo"> <i class='bx bx-menu nav_logo-icon'></i> <span
					class="nav_logo-name">CD-994</span>
				</a>
				<div class="nav_list">
					<a th:href="@{/}" class="nav_link active"> <i
						class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span>

					</a> <a href="#" class="nav_link"> <i class='bx bx-cart nav_icon'></i>
						<span class="nav_name">Vendas</span>

					</a> <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i>
						<span class="nav_name">Usuarios</span>

					</a> <a class=" nav_link " data-bs-toggle="collapse"
						href="#collapseExample" role="button" aria-expanded="false"
						aria-controls="collapseExample"><i
						class='bx bx-plus-circle nav_icon'></i> Cadastro </a>

					<div class="collapse" id="collapseExample">
						<a th:href="@{/produto/novo}" class="nav_link"> <i
							class='bx bx-chevron-right nav_icon'></i> <span class="nav_name">Produto</span>

						</a> <a th:href="@{/secao/novo}" class="nav_link"> <i
							class='bx bx-chevron-right nav_icon'></i> <span class="nav_name">Secao</span>
						</a>
					</div>


					<a href="#" class="nav_link"> <i
						class='bx bx-coin-stack nav_icon'></i> <span class="nav_name">Estoque</span>

					</a> <a href="#" class="nav_link"> <i
						class='bx bx-clipboard nav_icon'></i> <span class="nav_name">Relatorio</span>

					</a>

				</div>


			</div>
						<a th:href="@{/logout}" class="nav_link"><i
							class='bx bx-log-out nav_icon'></i> <span class="navbar-text"
						></span></a>
<!-- 			<a class=" nav-link"><i class="fas fa-sign-out-alt"></i></a> -->
		</nav>
	</div>



		<footer class="aw-layout-footer  js-content"
			th:fragment="footer">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; Paulino Rodrigues.
					Todos os direitos reservados.</span>
			</div>
		</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="/js/sindebar.js"></script>

</body>
</html>
