/* ###########  NAVBAR ############ */
.navbar-brand {
	color: #000;
}

.navbar {
	background-color: #3e92cc;
}

.nav-item {
	color: #fff;
	background-color: #fff;
}

.nav-link {
	background-color: #3e92cc;
}

.nav-link:hover {
	color: #fff;
}

.navbar-brand {
	color: #fff;
}

.navbar-toggler-icon {
	color: #fff;
}

.nav-link active {
	background: #E0FFFF;
	color: #E0FFFF;
}

.header {
	font-weight: bold;
	color: #000;
}

/* ############# CARD ############# */
.card {
	width: auto;
	left: auto;
	border-top-right-radius: .2rem !important;
	border-bottom-right-radius: .2rem !important;
}

.card-header {
	background-color: #0A2463;
	font-weight: bold;
	color: #FAF2F2;
}

.card-pedido{
	width: 98% !important;
/* 	height: 70% !important; */
}
.card_relatorio{
background-color: #c0c0c0;
color: #000;

}	


a {
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
}

.select:hover {
text-decoration: underline;
}


a#texto_pequeno  {
	color: #0d6efd;
	font-size: 11px;
}

.dropdown-item {
	/* 	nome=  sub-menu */
	color: #3e92cc;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
}

.dropdown-item:hover {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.rodape {
	background-color: #0A2463;
	color: #fff;
	position: absolute;
}

.pagina {
	position: relative;
}

.pagination {
    display: inline-flex;
}

.table .thead-dark th {
	color: #fff;
	background-color: #0A2463;
}

/* #### Botões #### */
.btn {
	border-radius: 999px;
	box-shadow: #5E5DF0 0 5px 10px -10px;
	box-sizing: border-box;
	cursor: pointer;
	font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
		NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
		EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}

.btn:link, .btn:visited {
	text-decoration: none;
	display: inline-block;
	border-radius: 80px;
	transition: all .2s;
	position: relative;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-3px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn-white {
	background-color: #fff;
	color: #777;
}

.btn::after {
	/* 	content: ""; */
	display: inline-block;
	transition: all .4s;
	color: #fff;
}

/* ############## */

/* ####### TEXTO */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-form-label-sm {
	font-weight: bold;
	font-size: 14px;
}

.form-control {
	border-width: 2px !important;
	border-color: #0A2463 ;
	border-top-right-radius: .2rem !important;
	border-bottom-right-radius: .2rem !important;
	font-weight: bold;
	font-size: 14px;
}
.easy-autocomplete-container{
		border-width: 2px !important;
	border-color: #0A2463 ;
	border-top-right-radius: .2rem !important;
	border-bottom-right-radius: .2rem !important;
	font-weight: bold;
	font-size: 14px;
}

.form-control-label {
	border-width: 2px;
	border-color: #0A2463;
	border-top-right-radius: .2rem !important;
	border-bottom-right-radius: .2rem !important;
	font-weight: bold;
	font-size: 14px;
}

.form-check-label {
	font-weight: bold;
	font-size: 14px;
}

.form-row-pedido{
	float: right;
	width: 15%;
}

.table {
	text-align: center;
	/* 	background-color: #f3eae8; */
}

.thead-dark {
	text-align: center;
}

.nomeUser {
	color: #0A2463;
	font-size: 15px;
	display: flex;
}

.ce-field-action {
	display: flex;
}

.ce-icon {
	color: #0A2463;
	font-size: 25px;
}

.bx-edit:hover {
	color: #32CD32;
}

.bx-trash:hover {
	color: #FF0000;
}

.bx-error-circle:hover {
	color: #3e92cc;
}

.dropdown_status_pedido{
background-color:#FFFFF0;
}

.pedido-text-success:hover{
	color: white !important;
	background: green; 
}

.pedido-text-warning:hover{
	color: black!important;
	background: yellow; 
}

.pedido-text-primary:hover{
	color: white !important;
	background: #0080ff; 
}

.pedido-text-danger:hover{
	color: white !important;
	background: red; 
} 

.pedido-text-dark:hover{
	color: white !important;
	background: black; 
}

.field-action {
	display: flex;
}

.field-action__icon {
	margin: 6px 0 0 5px;
}

/*###############################

/*
######################
# UTILIDADES
######################
*/
.glyphicon-large {
	font-size: 18px;
}

.required>.control-label:after {
	content: "*";
}

/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.field-action {
	display: flex;
}

.field-action__icon {
	margin: 6px 0 0 5px;
}

/* Tabela Simples */
.tabela-simples {
	margin-top: 15px;
}

.tabela-simples table tr th {
	border-bottom-width: 1px;
}

table tr td {
	color: #333333;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	border-top: none;
	border-bottom: 1px solid #e7eaec;
	padding: 10px;
	vertical-align: middle;
}

.status-finalizado {
	color: #4F4F4F !important;
	font-style: normal;
	font-weight: bold;
}

.status-novo {
	color: #008000 !important;
	font-style: normal;
	font-weight: bold;
}

.status-cancelado {
	color: #FF0000 !important;
	font-style: normal;
	font-weight: bold;
}

.status-separacao {
	color: #d9e401 !important;
	font-style: normal;
	font-weight: bold;
}

.status-pendente {
	color: #00CED1 !important;
	font-style: normal;
	font-weight: bold;
}

.valor-negativo {
	color: red !important;
	font-weight: bold;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas comuns */
.table-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Cervejas */
.table-produtos-col-foto {
	min-width: 50px;
	width: 50px
}

.table-produtos-col-sku {
	width: 90px;
	text-align: center;
}

.table-produtos-col-estilo {
	width: 120px;
}

.table-produtos-col-origem {
	width: 100px;
}

.table-produtos-col-valor {
	width: 100px;
	text-align: right;
}

.table-produtos-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Estilos */
.table-estilos-col-codigo {
	width: 80px;
}

.table-clientes-col-tipo-pessoa {
	width: 120px;
	text-align: center;
}

.table-clientes-col-cpf-cnpj {
	width: 140px;
	text-align: right;
}

.table-clientes-col-telefone {
	width: 140px;
	text-align: right;
}

.table-clientes-col-cidade-estado {
	width: 140px;
	text-align: right;
}

.table-cidades-col-estado {
	width: 140px;
	text-align: right;
}

/* Colunas - Pesquisa de usuários */
.table-usuarios-col-status {
	width: 30px;
	text-align: center;
}

/* Tabela Cervejas página de Venda */
.tabela-produtos {
	margin-bottom: 15px;
}

.tabela-produtos__vazio {
	padding: 15px 15px;
	border: 1px dashed #0A2463;
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #0A2463;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/
.checkbox input[type="checkbox"]:checked+input+label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

/* Easy Autocomplete */
.easy-autocomplete input {
	border-radius: 2px !important;
	display: flex !important;
	flex: auto !important;
}

.easy-autocomplete-container ul li {
	font-size: 1em !important;
	padding: 0px 5px !important;
}

/* Box */
.negativo .aw-box__value {
	color: red;
}

/* Tabela Item */
.tabela-item {
	position: relative;
	/* Para que o painel de exclusão apareça dentro da linha */
	padding: 15px 1px;
	background-color: #0A2463;
	color: #fff;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.tabela-item:after {
	clear: both;
	display: block;
	content: "";
}

.tabela-item ~ .tabela-item {
	border-top: 1px solid #ddd;
}

.tabela-item__coluna {
	padding: 0 10px;
}

.tabela-item__coluna--foto {
	float: left;
	width: 60px;
	text-align: center;
}

.tabela-item__coluna--valores {
	padding-right: 0px;
}

.tabela-item__coluna--detalhes, .tabela-item__coluna--valores {
	margin-left: 60px;
}

.tabela-produto-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.tabela-produto-origem {
	color: #aaa;
	display: block;
	font-weight: 200;
}

.tabela-produto-campo-quantidade {
	width: 30px;
	text-align: right;
}

.tabela-produto-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}

.tabela-produto-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}

.tabela-produto-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

.tabela-item__painel-exclusao {
	position: absolute;
	top: 1;
	right: 100000px;
	/* 	height: 100%; */
	width: 50%;
	text-align: center;
	padding-top: 35px;
	background-color: #0A2463;
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .tabela-item__painel-exclusao {
	right: 0;
	opacity: 1;
	background-color: #FF8C00;
}

.tabela-item__titulo-exclusao {
	/*     display: block; */
	margin-bottom: 3px;
	color: #fff;
	font-size: 1.2em;
}

.layout-footer {
	text-align: center;
	font-weight: bold;
}

.icon_dasboard {
	font-size: 45px
}

@media ( min-width : 768px) { /* screen-sm-min */
	.tabela-item__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	.tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	.tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
	.tabela-item__coluna--valores {
		width: calc(30% - 30px);
		text-align: right;
	}
}

.controlle-footer {
	position: fixed !important;
	bottom: 0 !important;
	width: 100% !important;
}