* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
		
}

.Login-form{
	position: relative;
	height: 100vh;
	width: 100vw;
	min-height:auto;
	background-image: url('/img/wallpaper2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat:repeat-x;
}

.Login-form{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;	
}

.main-div{
	background:#fff;
	border-style: outset;
	border-radius: 50px;
	border-width: 15px;
	border-color: #0e87fe;
	margin: 0 auto;
	max-width: 50%;
	padding: 70px 100px;
	
}
.centro {
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;	
}

.container {

	margin-top: 40px;
	
}
.nomesys{
	text-align: center;
	font-size: 1.8em;
	position: relative;
	font-family:  Felt, fantasy;
}


.magalup{
	width: 50mm;
	height: 15mm;
}


.bttn {
	width: 200px;
	background-color:#0e87fe;
	color: #FFFFFF;
	padding: 10px 22px;
	text-align: center;
 	-webkit-transition-duration: 0.5s; 
	transition-duration: 0.1s;
	margin: 16px 0 !important;
	text-decoration: none;
	text-align: center;
	margin-top: 100px;
	color: #ffffff;
	font-family: "Arial";
	border-radius: 20px;
	
}

.bttn:hover {
	background-color: #000080;
	text-decoration: none;
	color: #fff;

}

.bttn:active {
	box-shadow: 0 5px #380B61;
	transform: translateY(5px);
}

.admin{
	color: #0e87fe;
}
.admin:hover {
	text-decoration: none;
	color:#8B008B;
	font-weight: bold;

}
.center{
	 text-align: center;
}


