body {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.66666667;
    color: #363636;
    background-color: #DCDCDC;
}

.Login-form{
	position: relative;
	height: 100vh;
	width: 100vw;
	min-height: auto;
	background-image: url('/img/wallpaper.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Login-form{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;	
}

.main-div{
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 50%;
	padding: 50px 70px;
	
}

.form-control {
	background: #f7f7f7;
	border-radius: 7px;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #0e87fe;
}
.form-group{
	margin: 10px;
}
.btn-primary{
	background: #0e87fe;
	border-color: #d4d4d4;
	width: 70%;
	-webkit-transition-duration: 0.5s; 
	transition-duration: 0.1s;
	margin: 16px 0 !important;
	text-decoration: none;
	text-align: center;
	margin-top: 100px;
	color: #ffffff;
	font-family: "Arial";

}

.btn.btn-info{
	background: #A9A9A9;
	border-color: #d4d4d4;
	font-size: 1em;
	padding: 0;
	height: 40px;
	width: 50%;
	margin: 10px;
	
}

.btn.btn-primary:hover {
	background-color: #000080;
	text-decoration: none;
	color: #fff;
	

}

.btn.btn-primary:active {
	box-shadow: 0 5px #380B61;
	transform: translateY(5px);
}
.center{
	 text-align: center;
}

.is-error{
	color: red;
	font-size: 15px;
}



