.navbar-brand{
	color: #000;
}


.navbar{
	background-color: #0e87fe;
}


a{
	cursor: pointer;
	font-weight: bold;	
	color: #000;
	font-size: 15px;
}



.dropdown-item{
/* 	nome=  sub-menu */
	color: #0e87fe;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
   
}

.dropdown-item:hover {
	text-decoration: none;
	color:#000;
	font-weight: bold;

}

.nav-link:hover{
	color: #fff;
	
	
}

.rodape{
	background-color: #00008B;
	color:	 #fff;
	position: absolute;
}
.pagina{
	
	position: relative;
} 

.table .thead-dark th {
    color: #fff;
    background-color:  #0e87fe;
   
 
}

.btn-info {
    color:#fff;
    background-color: #0e87fe;
    
}

.container2{
	text-align: center;
	background-color:  #0e87fe;
	color: #fff;
	
}


