<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<title>Novo Produto</title>
<meta name="author" content="Paulino Rodrigues">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link rel="stylesheet" href="/css/sindebar.css" />
<link rel="stylesheet" href="/css/controller.css" />
</head>

<body id="body-pd">

	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div th:replace="fragmentos/fragmentos :: sindebar"></div>

	<form method="post" th:action="@{/produto/novo}" th:object="${produto}">

		<th:block th:replace="fragmentos/mensagemSucesso"></th:block>
		<th:block th:replace="fragmentos/mensagensErrosValidacao"></th:block>

		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class=" col-md-10">
						<h4>Novo Produto</h4>
					</div>
					<div class="col-md-2">
						<a th:href="@{/produto}" class="btn btn-primary btn-sm">Pesquisar</a>
					</div>
				</div>
			</div>
			<div class="card-body">

				<div class="row mb-3">

					<!-- 				Codigo -->
					<div class=" col-md-1">
						<label class=" col-form-label-sm">Codigo:</label> <input
							class="form-control form-control-sm" type="text" readonly
							placeholder="00000" />
					</div>

					<!-- 				Nome -->
					<div class="col-md-11">
						<label class="col-form-label-sm">Nome:</label> <input
							class="form-control form-control-sm"
							placeholder="Ex: Caneta vermelha" th:field="*{nome}">

					</div>
				</div>

				<div class="row mb-3">
					<!-- 				Descrição -->
					<div class="col-md-12">
						<label class=" col-form-label-sm">Descrição:</label>
						<textarea class="form-control form-control-sm"
							th:field="*{descricao}" placeholder="Descrição do produto "></textarea>
					</div>
				</div>
				<div class=" row mb-3">

					<!-- 				Seção -->
					<div class="col-md-4"
						th:classappend="${#fields.hasErrors('secao')} ? has-error">
						<label for="secao" class="col-form-label-sm">Seção:</label>
						<div class="input-group">
							<select id="secao"
								class=" form-control form-select form-select-sm"
								th:field="*{secao}">
								<option value="">Selecione uma Seção</option>
								<option class="form-control-label form-control-sm"
									th:each="secao : ${secao}" th:value="${secao.codigo}"
									th:text="${secao.nome}"></option>
							</select> <a href="#" data-bs-toggle="modal" data-bs-target="#secaoModal">
								<i class="bx bxs-plus-circle ce-icon"></i>
							</a>
						</div>
					</div>

					<!-- 		Grupo -->
					<div class="col-md-4">
						<label for="grupo" class="col-form-label-sm">Grupo:</label>
						<div class="ce-field-action ">
							<select id="grupos"
								class="form-select form-control form-select-sm"
								th:field="*{agrupar.grupo}">
								<option value="">Selecionar um Grupo</option>
								<option class="form-control-label" th:each="grupo : ${grupos}"
									th:value="${grupo.codigo}" th:text="${grupo.nome}"></option>
							</select>
						</div>
					</div>

					<!-- 					Sub-grupo -->
					<div class="col-md-4">
						<label for="subgrupo" class="col-form-label-sm">Sub-Grupo:</label>
						<div class="ce-field-action">
							<input type="hidden" id="inputHiddenSubGrupoSelecionado"
								th:value="*{agrupar.subgrupo} != null ? *{agrupar.subgrupo.codigo}" />
							<select id="subgrupo"
								class="form-control form-select form-select-sm"
								data:url="@{/subgrupo}" th:filed="*{agrupar.subgrupo}">
								<option value="">Selecione um Sub-grupo - html</option>
							</select>
							<div class="bw-field-action__icon  js-img-loading-sub-grupo"
								style="display: none">
								<img th:src="@{/img/mini-loading.gif}" />
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-3">

					<!-- 				Unidade de Media -->
					<div class=" col-md-2">
						<label for="uniMedida" class="col-form-label-sm">Unid. de
							medida:</label> <select id="uniMedida"
							class=" form-control form-select form-select-sm"
							th:field="*{uniMedida}">
							<option value="">Selecione</option>
							<option class="form-control" th:each="uniMedida : ${uniMedida}"
								th:value="${uniMedida}" th:text="${uniMedida.descricao}">a</option>
						</select>
					</div>

					<!-- 				Estoque minimo -->
					<div class=" col-md-2">
						<label for="estoqueMin" class="col-form-label-sm">Estoque
							minimo:</label> <input id="estoqueMin" type="text"
							th:field="*{qtdEstMin}"
							class="form-control form-control-sm js-decimal"
							placeholder="Ex: 10,00">

					</div>
				</div>

				<div class="row mb-3">

					<!-- 				Rua -->
					<div class="col-md-3">
						<label for="rua" class="col-form-label-sm">Rua:</label>
						<div class="ce-field-action ">
							<select id="rua" class="form-control form-select  form-select-sm"
								th:field="*{endereco.rua}">
								<option value="">Selecionar Rua</option>
								<option class="form-control form-control-label"
									th:each="rua : ${rua}" th:value="${rua.codigo}"
									th:text="${rua.nome}"></option>
							</select>
						</div>
					</div>

					<!-- 					Bloco -->
					<div class="col-md-3">
						<label for="bloco" class="col-form-label-sm">Bloco:</label>
						<div class="ce-field-action">
							<input type="hidden" id="inputHiddenBlocoSelecionado"
								th:value="*{endereco.bloco} != null ? *{endereco.bloco.codigo}" />
							<select id="bloco"
								class=" form-control form-select form-select-sm"
								data:url="@{/bloco}" th:filed="*{endereco.bloco}">
								<option class="form-control" value="">Selecione um
									bloco - html</option>
							</select>
							<div class="bw-field-action__icon  js-img-loading-bloco"
								style="display: none">
								<img th:src="@{/img/mini-loading.gif}" />
							</div>
						</div>
					</div>

					<!-- 				Apartamento -->
					<div class="col-md-3">
						<label for="apartamento" class="col-form-label-sm">Apartamento:</label>
						<div class="ce-field-action">
							<input type="hidden" id="inputHiddenApartamentoSelecionado"
								th:value="*{endereco.apartamento} != null ? *{endereco.apartamento.codigo}" />
							<select id="apartamento"
								class=" form-control form-select form-select-sm"
								data:url="@{/apartamento}" th:filed="*{endereco.apartamento}">
								<option value="">Selecione o Apartamento</option>
							</select>
							<div class="bw-field-action__icon  js-img-loading-apartamento"
								style="display: none">
								<img th:src="@{/img/mini-loading.gif}" />
							</div>
						</div>
					</div>

					<!-- 					Sala -->
					<div class=" col-md-3">
						<label for="sala" class="col-form-label-sm">Sala:</label> <input
							type="text" class="form-control form-control-sm" id="sala"
							placeholder="Selecione um Sala" readonly="readonly">
					</div>

					<p>

						<!-- status -->
					<div class="row mb-3">
						<div class="form-check form-switch">
							<label class="form-check-label" for="status"> Status</label> <input
								class="form-check-input" type="checkbox" role="switch"
								id="status" checked>
						</div>
					</div>

					<p>
						<!-- 				Botões -->
					<div class="form-row">
						<a type="button" th:href="@{/produto}"class="btn btn-danger offset-md-10">Cancelar</a
					>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-success offset">
							<!-- 								th:href="@{secao}" -->
							Salvar
						</button>
					</div>


				</div>
			</div>
		</div>
	</form>

	<div th:replace="fragmentos/fragmentos :: footer"></div>
	<div th:replace="secao/cadastroRapidoSecao :: modalSecao"></div>



	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="/js/vendors/jquery.mask.min.js"></script>
	<script src="/js/vendors/jquery.maskMoney.min.js"></script>
	<script src="/js/sindebar.js"></script>
	<script src="/js/secao.cadastro-rapido.js"></script>
	<script src="/js/produto.combo-grupo-subGrupo.js"></script>
	<script src="/js/produto.combo-rua-bloco.js"></script>
	<script src="/js/produto.combo-bloco-apartamento.js"></script>
	<script src="/js/controllestoque.js"></script>
</body>
</html>
